body {
  background: #feecec;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

main {
  margin: 60px 0;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.u-default-box {
  padding: 15px 0;
  width: 100%;
  max-width: 600px;
  background: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, .0975);
  border-radius: 3px;
}
